<%
  if (typeof products === 'undefined') {
    var products = '';
  }

  if (typeof blog === 'undefined') {
    var blog = '';
  }

  if (typeof staff === 'undefined') {
    var staff = '';
  }

  if (typeof faq === 'undefined') {
    var faq = '';
  }

  if (typeof contact === 'undefined') {
    var contact = '';
  }
%>

<button class="gNavBtn" aria-label="スマートフォン用メインメニューを開く" aria-controls="sp-gNav" aria-expanded="false">
  <span class="gNavBtn__line"></span>

  <span class="gNavBtn__text">Menu</span>
</button>


<!-- SP -->
<nav class="sp-gNav sp-gNav--overlay" id="sp-gNav" aria-label="スマートフォン用メインメニュー" aria-hidden="true">
  <div class="sp-gNav__inner l-container">

    <img class="sp-gNav__logo" src="/src/images/common/logo_small.svg" alt="l'atelier Queue" width="76" height="103" loading="lazy">

    <ul class="sp-gNav__list01">
      <li class="sp-gNav__list01Item">
        <a class="sp-gNav__list01Link" href="/">トップページ</a>
      </li>

      <li class="sp-gNav__list01Item">
        <a class="sp-gNav__list01Link" href="/products/">商品一覧</a>
      </li>

      <li class="sp-gNav__list01Item">
        <a class="sp-gNav__list01Link" href="/blog/">ねこブログ</a>
      </li>

      <li class="sp-gNav__list01Item">
        <a class="sp-gNav__list01Link" href="/staff/">ねこ店員紹介</a>
      </li>

      <li class="sp-gNav__list01Item">
        <a class="sp-gNav__list01Link" href="/faq/">よくあるご質問</a>
      </li>

      <li class="sp-gNav__list01Item">
        <a class="sp-gNav__list01Link" href="/contact/">お問い合わせ</a>
      </li>
    </ul>

    <ul class="sp-gNav__list02">
      <li class="sp-gNav__list02Item">
        <a class="sp-gNav__list02Link" href="/law/">特定商取引法に関する表記</a>
      </li>

      <li class="sp-gNav__list02Item">
        <a class="sp-gNav__list02Link" href="/privacy/">プライバシーポリシー</a>
      </li>
    </ul>

  </div><!-- /.sp-gNav__inner -->
</nav>


<!-- PC -->
<nav class="pc-gNav" aria-label="パソコン用メインメニュー">
  <ul class="pc-gNav__list l-container">
    <li class="pc-gNav__item">
      <a class="pc-gNav__link pc-gNav__link--products" href="/products/" <%= products %>>商品一覧</a>
    </li>

    <li class="pc-gNav__item">
      <a class="pc-gNav__link pc-gNav__link--blog" href="/blog/" <%- blog %>>ねこブログ</a>
    </li>

    <li class="pc-gNav__item">
      <a class="pc-gNav__link pc-gNav__link--staff" href="/staff/" <%= staff %>>ねこ店員紹介</a>
    </li>

    <li class="pc-gNav__item">
      <a class="pc-gNav__link pc-gNav__link--faq" href="/faq/" <%= faq %>>よくあるご質問</a>
    </li>

    <li class="pc-gNav__item">
      <a class="pc-gNav__link pc-gNav__link--contact" href="/contact/" <%= contact %>>お問い合わせ</a>
    </li>
  </ul>
</nav>
